$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$turquoise: #33dddd;

#game-board {
  margin: 20px;
}

.data-table {
  background-color: $turquoise;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  border: 2px solid black;
}

@media (max-width: 300px) {
  $size: device-width;

  .data-table {
    width: $size;
    height: $size;
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
  }
}

#sign-out, #change-password, #new-game, #display-games {
  visibility: hidden;
}
